.container 
  %p All Boards
  .article
    %h1.article_title= @board.title
    .article_detail_actions 
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'Edit', edit_board_path(@board)
          = link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .article_content
      = @board.content
    .article_detail
      = image_tag 'default-avatar.png'
      %div
      %p cohki0305
      %p 2020/4/16
